*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
nav a{
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0%;
    display: inline-block; 
}
nav a:hover{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 20px;
}

.card{ /* foto dos oculos */
    width: 100px;
    margin: 20px;
    padding: 60px;
    border-radius: 10px;
}

.card img{
    justify-content: flex-start;
    width: 550px;
    height: 550px;
    border-radius: 10px;
    object-fit: cover;
}